html {
    font-family: system-ui;
    max-width: 70ch;
    padding: 1em;
    margin: auto;
    line-height: 1.4;
}

img {
    height: auto;
    max-width: 100%;
}

nav a {
    margin-right: 10px;
}

span {
    margin-right: 1ch;
}
