* {
    --txc: #393838;
    --txc2: #393838;
    --bgc: #fff;
    --bcg2: #f1f1f1;
    --hlc: #70b4d5;
}

@media (prefers-color-scheme: dark) {
    * {
        --txc: #f5f5f5;
        --txc2: #f5f5f5;
        --bgc: #212121;
        --bcg2: #313131;
        --hlc: #1183b1;
    }
}

body {
    color: var(--txc);
    background: var(--bgc);
    font-family: system-ui;
    max-width: 632px;
    margin: 1.2em auto 0.3em auto;
    line-height: 1.4;
    padding: 18px;
}

body.wide {
    max-width: none;
}

article {
    margin-bottom: 60px;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: 80%;
    padding: 0.5rem;
} 

/*Links{{{*/
a:link, a:visited {
  color:  var(--txc2);
}

a:hover {
  color: var(--hlc);
}

header a:hover {
  color: var(--hlc);
}

header a.ghost:link, a.ghost:visited, a.ghost:hover {
  text-decoration: none;
}
/*}}}*/

nav a {
    padding-right: 0.6em;
    font-weight: 600;
}

img {
    width: 100%;
    padding-bottom: 0.2em;
}

/* Lists{{{ */
li {
    padding: 0.1em;
}

ul {
    padding-left: 1em;
}
/* }}} */

.gallerymasonry {
    column-count: 1;
    column-gap: 0.2rem;
}

section.gallerymasonry h2 {
    margin-bottom: 0.1em;
}

.galleryitem {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

section.activity {
    box-shadow: 3px 3px 15px 3px #666666;
    border-radius: 8px;
    margin: 1em;
}

section.activity img {
    margin-top: 1em;
}


.date {
    padding: 0em 0.5em;
    width: 100%;
}

div.sourceCode {
    background: var(--bcg2);
    padding: 2px 4px;
    overflow: auto;
}


figcaption {
    margin-bottom: 2em;
}

video {
    width: 100%;
}

blockquote {
    font-style: italic;
    font-size: 90%;
    border-left: 3px solid;
    padding-left: 1em;
}

/*Laptops and large screens{{{*/
@media screen and (min-width: 900px) {
    .maingallerymasonry {
        column-count: 2;
    }
    .maingalleryitem {
      max-height: 190px;
    }
}
/*}}}*/
